<div id="continue" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body alert-warning">
				<br/>
				<div class="alert alert-warning">
					<p>{{ reachoutMessage }}</p>

					<br />
					<center>
						<a class="btn btn-primary" href="tel:{{ phoneNumber }}">Call Your Psychiatrist Now</a>
					</center>
				</div>
				<button type="button" class="btn btn-primary btn-full" data-dismiss="modal">Continue</button>
			</div>
		</div>
	</div>
</div>
<!-- /.modal -->

<form>
	<div ng-repeat="question in questionGroups" class="question-group" data-idx="{{$index}}" ng-if='showQuestion($index)' >
		<label> 
			<div ng-switch on="questionViewType(question.type)">
				<div ng-switch-when="multiple">
					<div ng-include="'views/questionGroups/multiple.html'"></div>
				</div>
				<div ng-switch-when="single">
					<div ng-include="'views/questionGroups/single.html'"></div>
				</div>
				<div ng-switch-default>
					<div ng-include="'views/questionGroups/html.html'"></div>
				</div>
			</div>
		</label>
		<div ng-show="question.responses.length == 0 && pageTitle == 'Daily Review'">
			<a ng-href="#/wellness/resources" class="btn btn-info btn-full">Wellness Plan</a><br/>
			<a ng-href="#/skills" class="btn btn-info btn-full">Toolbox</a><br/>
			<a ng-href="#/foundations" class="btn btn-info btn-full">Foundations</a><br/><br/>
			
			<a ng-href="#/load_interventions" class="btn btn-info btn-full" ng-show="code != 'severe-up' && code != 'severe-down'">Review Something Else</a>
			
			<a ng-href="#/charts" class="btn btn-info btn-full">My Charts</a><br/>
		</div>    

		<div ng-hide="question.responses.length == 0 && pageTitle == 'Daily Review'">
			<div ng-include="'views/questionGroups/nav.html'"></div>
		</div>
	</div>
</form>

<div ng-show="surveyFailure().error" >
	<div class="alert alert-danger">
		<span ng-bind-html="_SURVEY_FAILURE_LABEL"></span><br/>
		<span ng-bind-html="surveyFailure().message"></span>
	</div>
</div>

