<div ng-include="'views/partials/navbar.html'"></div>

<h4>Check all warning sign of depression you experienced in the past week. If none, then
check none:</h4>

<form>
<div ng-controller="Ews2Ctrl" class="row-group">
<br/>
	<div  ng-repeat="element in ews2" >
	<label for="{{element.value}}" class="btn btn-info wide" style="text-align:left; margin-bottom:10px;">
		<input name="ews2" value="{{element.value}}" type="checkbox" id="{{element.value}}">
		<span ng-bind-html="element.value"></span>
	</label>
	</div>

</div>
<br/>

<a ng-click="onClick()" class="wide btn-lg btn btn-primary">Submit</a>
</form>