<div ng-include="'views/partials/navbar.html'"></div>

 
<p>Research suggests that there are 5 crucial steps to making lasting behavior changes in life. This is true no matter what the behavior.<p><p> It could be         trying to take medications on a consistent basis, getting a better daily routine, eating better, or exercising more regularly. Check out the sections         ​below for more information. Try the suggestions and see if you can’t be more effective in your life!</p>


<a ng-repeat="link in mainLinks" ng-href="#/summary_player/{{link.id}}/{{link.post}}" class="btn btn-info btn-full">{{link.name}}</a>