<div class="question-nav ">
{{hideBackButton}}
{{hideNextButton}}
	<div class="nav-left">
		<button class="btn btn-lg btn-warning" ng-click='back()' ng-hide="{{question.hideBackButton}}" ng-if="$index != 0" ng-bind-html="label('back')"></button>
		&nbsp;
	</div>
	<div class="nav-center">
  &nbsp;
  <span class="question-group-progress" ng-hide="hideProgressBar">
  	&nbsp;{{$index+1}} / {{numberOfQuestions}}&nbsp;
  </span>
	</div>
	<div class="nav-right">
		&nbsp;
		<button class="btn btn-lg btn-warning" ng-click='next({{question}})' ng-hide="{{question.hideNextbutton}}" ng-if="$index != numberOfQuestions -1" ng-bind-html="label('next')"></button>
	<button type="submit" class="btn btn-lg btn-warning" ng-click='submit()' ng-hide="{{question.hideNextButton}}" ng-if="$index == numberOfQuestions - 1" ng-bind-html="label('submit')"></button>
	</div>
</div>