<form>
	<div ng-repeat="question in questionGroups" class="question-group" data-idx="{{$index}}" ng-show='showQuestion({{$index}})' >
	<label class="content-label"> 
	  <div ng-switch on="questionViewType(question.type)">
        <div ng-switch-when="multiple">
        		<div ng-include="'views/questionGroups/multiple.html'"></div>
        </div>
        <div ng-switch-when="single">
        		<div ng-include="'views/questionGroups/single.html'"></div>
        </div>
        <div ng-switch-default>
        	<div ng-include="'views/questionGroups/html.html'"></div>
        </div>
    </div>
    <div ng-show="question.responses.length == 0 && pageTitle == 'Daily Review'">
    <a ng-href="#/wellness/resources" class="btn btn-info btn-full">Resources</a><br/>
    <a ng-href="#/wellness/risk" class="btn btn-info btn-full">Reduce Risks</a><br/>
    <a ng-href="#/wellness/awareness" class="btn btn-info btn-full">Awareness &amp; Action</a><br/><br/>
    <a ng-href="#/charts" class="btn btn-default btn-full">My Charts</a><br/><br/>
    <a ng-href="#/daily_review" class="btn btn-default btn-full btn-primary">Try Something Else</a><br/>

    </div>
	  <div ng-include="'views/questionGroups/nav.html'"></div>
    </div>
</form>
<div ng-show="surveyFailure().error" >
    <div class="alert alert-danger">
    <span ng-bind-html="_SURVEY_FAILURE_LABEL"></span><br/>
    <span ng-bind-html="surveyFailure().message"></span>
    </div>
</div>

