<div ng-include="'views/partials/navbar.html'"></div>

<div id="warning" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body alert-danger">
				<p>{{ selectedWarningMessage }}</p>
				<br/>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="continue" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body alert-warning" id="warning_message">
				<div class="alert alert-warning" id="continue_modal_warning" ng-hide="reachoutMessage == null">
					<p>{{ reachoutMessage }}<p>
					<br />
					<center>
						<a ng-show="warningPhoneNumber != null" class="btn btn-primary" href="tel:{{ warningPhoneNumber }}">Call Your Psychiatrist Now</a>
					</center>
				</div>
				<a ng-href="#/daily_review/{{nextId}}" class="btn btn-primary btn-full" >Continue to Daily Review</a>
				<br/>
				<a ng-href="#/" class="btn btn-primary btn-full">Return Home</a>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<form ng-submit="saveCheckIn()" class="center-form">
	<h4>MEDICATIONS</h4>
	<div class="row-fluid">
		<label class="btn btn-success col-sm-4 col-md-4 col-xs-4">
			<input type="radio" ng-model="dailyCheckIn.medications" value="2"> All
		</label>
		<label class="btn btn-warning col-sm-4 col-md-4 col-xs-4">
			<input type="radio" ng-model="dailyCheckIn.medications" value="1"> Some
		</label>
		<label class="btn btn-danger col-sm-4 col-md-4 col-xs-4">
			<input type="radio" ng-model="dailyCheckIn.medications" value="0"> None
		</label>
	</div>

	<br/>
	<br/>
	<h4>SLEEP</h4>
	<select ng-model="dailyCheckIn.sleepDuration" name="sleepDuration" >
		<option ng-repeat="hour in hours" value="{{hour.value}}" style="color:black !important;">{{hour.label}}</option>
	</select>

	<h4>ROUTINE</h4>
	<div class="row">
		<div class="col-sm-6">
			<h5>Went To Bed</h5>
			<select ng-model="dailyCheckIn.toBed" name="toBed">
				<option ng-repeat="time in times" value="{{time.value}}" style="color:black !important;">{{time.label}}</option>
			</select>
		</div>
		<div class="col-sm-6">
			<h5>Got Up</h5>
			<select ng-model="dailyCheckIn.gotUp" name="gotUp">
				<option ng-repeat="time in times" value="{{time.value}}" style="color:black !important;">{{time.label}}</option>
			</select>
		</div>
	</div>

	<h4>WELLNESS</h4>
	<div class="btn-group btn-group-justified" data-toggle="buttons">
		<label ng-click="highlight('#button{{response.order}}','{{response.response}}');warning({{response}})" id="button{{response.order}}" class="btn bgcolor{{response.order}} btn-group-radio" ng-repeat="response in responses">{{response.label}}</label>
	</div>

	<br/>
	<button type="submit" class="btn btn-primary btn-full">Submit</button>
</form>