<div ng-include="'views/partials/navbar.html'"></div>

<div class="alert alert-warning">
Complete your daily check in at least three times to see your feedback charts!
</div>

<!--<highchart id="chart1" config="config" style="width:100%; height:150px;" ></highchart>

<h4>Sleep</h4>
<table class="table rounded-cells">
        <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>
</table>

<h4>Medication</h4>
<table class="table rounded-cells">
      <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>
</table>

<h4>Routine</h4>
<table class="table rounded-cells">
      <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>   <td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>
</table>-->