<div ng-include="'views/partials/navbar.html'"></div>

<highchart id="chart1" config="config" style="width:100%; height:150px;" ></highchart>

<h4>Sleep</h4>
<table class="table rounded-cells">
	<td class="a" data-toggle="tooltip" data-placement="top"
        title="No issues"
        tooltip="No issues"
        tooltip-placement="top"></td>
	<td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>
	<td class="c" data-toggle="tooltip" data-placement="top"
        title="Positive"
        tooltip="Positive"
        tooltip-placement="top"></td>
	<td class="a" class="a" data-toggle="tooltip" data-placement="top"
        title="No issues"
        tooltip="No issues"
        tooltip-placement="top"></td>
	<td class="c" data-toggle="tooltip" data-placement="top"
        title=""
        tooltip="Positive"
        tooltip-placement="top"></td>
	<td class=""  data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>
	<td class="a" data-toggle="tooltip" data-placement="top"
        title="No issues"
        tooltip="No issues"
        tooltip-placement="top"></td>
</table>

<h4>Medication</h4>
<table class="table rounded-cells">

	<td class="a" class="a" data-toggle="tooltip" data-placement="top"
        title="Took all medications"
        tooltip="Took all medications"
        tooltip-placement="top"></td>
	<td class="b" data-toggle="tooltip" data-placement="top"
        title="Took some medications"
        tooltip="Took some medications"
        tooltip-placement="top"></td>
	<td class="c" data-toggle="tooltip" data-placement="top"
        title="Did not take medications"
        tooltip="Did not take medications"
        tooltip-placement="top"></td>
	<td class="a" class="a" data-toggle="tooltip" data-placement="top"
        title="Took all medications"
        tooltip="Took all medications"
        tooltip-placement="top"></td>
	<td class="c" data-toggle="tooltip" data-placement="top"
        title="Did not take medications"
        tooltip="Did not take medications"
        tooltip-placement="top"></td>
	<td class="a" class="a" data-toggle="tooltip" data-placement="top"
        title="Took all medications"
        tooltip="Took all medications"
        tooltip-placement="top"></td>
	<td class="a" class="a" data-toggle="tooltip" data-placement="top"
        title="Took all medications"
        tooltip="Took all medications"
        tooltip-placement="top"></td>
</table>

<h4>Routine</h4>
<table class="table rounded-cells">

	<td class="a" data-toggle="tooltip" data-placement="top"
        title="No issues"
        tooltip="No issues"
        tooltip-placement="top"></td>
	<td class="b"  data-toggle="tooltip" data-placement="top"
        title="Missed sleep time"
        tooltip="Missed sleep time"
        tooltip-placement="top"></td>
	<td class="c" data-toggle="tooltip" data-placement="top"
        title="Missed sleep and wake time"
        tooltip="Missed sleep and wake time"
        tooltip-placement="top"></td>
	<td class="c" data-toggle="tooltip" data-placement="top"
        title="Missed sleep and wake time"
        tooltip="Missed sleep and wake time"
        tooltip-placement="top"></td>
	<td class="b" data-toggle="tooltip" data-placement="top"
        title="Missed wake time"
        tooltip="Missed wake time"
        tooltip-placement="top"></td>
	<td class=""  class="a" data-toggle="tooltip" data-placement="top"
        title="No Data"
        tooltip="No Data"
        tooltip-placement="top"></td>
	<td class="a" class="a" data-toggle="tooltip" data-placement="top"
        title="No issues"
        tooltip="No issues"
        tooltip-placement="top"></td>
</table>