<div ng-include="'views/partials/navbar.html'"></div>

<form ng-submit="saveCheckIn()" class="center-form">
    <h4>Medications</h4>

    <label class="btn btn-success">
        <input type="radio" ng-model="medications" value="all"> All</label>
    <label class="btn btn-warning">
        <input type="radio" ng-model="medications" value="some"> Some</label>
    <label class="btn btn-danger">
        <input type="radio" ng-model="medications" value="none"> None</label>

    <h4>Routine</h4>
    <label>
        <select ng-model="toBed">
            <option value="">To Bed</option>
            <option ng-repeat="option in dailyHourRange" value="{{option.value}}">{{option.label}}
            </option>
        </select>
    </label>
    <label>
        <select ng-model="gotUp">
            <option value="">Got Up</option>	
            <option ng-repeat="option in dailyHourRange" value="{{option.value}}">{{option.label}}
            </option>
        </select>
    </label>

    <h4>Wellness</h4>
    <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn bgcolor{{response.order}} btn-group-radio" ng-repeat="response in responses">{{response.label}}
            <input type="radio">
    </div>

    <br/>
    <button type="submit" class="btn btn-primary">Save</button>
</form>