<div ng-hide="appConfigured">
<div class="row" style="margin-top:10px; margin-bottom:">	
	<div class="col-md-3 col-xs-3 col-sm-3 text-center"><img src="images/logo.png" style="width:100%; " /></div>
	<div class="col-md-9 col-xs-9 col-sm-9 text-left"><h3>Set Up</h3>
	</div>
</div>
<div class="row">	
	<div class="col-md-12 col-xs-12 col-sm-12 text-left">
		<ol>
			<li><h6>User ID</h6>
			<input ng-model="userID" placeholder="enter the user id here">
			</li>
			<li><h6>Start Date</h6>
			<input type="date" ng-model="startDate"><br/><br/>
			</li>
			<li ng-controller="FetchContentCtrl">
				<a ng-click="fetchContent()" class=" btn btn-primary btn-sm {{errorClass}}" style="background-color:{{errorColor}} !important;" ><i class="glyphicon glyphicon-refresh"></i> Fetch Application Content</a><br/><br/>
			</li>
			<li>
				<a ng-click="verifyUserContent()" class="btn btn-primary btn-sm" style="background-color:{{errorVerifyUserColor}} ! important;" ><i class="glyphicon glyphicon-thumbs-up"></i> Verify User Content</a><br/><br/>
			</li>
			<li><a ng-click="startTrial()" class=" btn btn-primary btn-sm {{errorClass}}" style="background-color:{{errorColor}}" ><i class="glyphicon glyphicon-thumbs-up"></i> Start the Trial!</a><br/><br/></li>
		</ol>
	</div>
</div>

</div>
<div ng-show="appConfigured">
<div class="row" ng-controller="FetchContentCtrl">
	<div class="col-md-2 col-xs-2 col-sm-2 text-center">
		<a ng-href="#/settings"><i class="glyphicon glyphicon-cog" style="font-size:2em; color:white; margin-top:10px;"></i></a>
	</div>
	<div class="col-xs-8 col-md-8 col-sm-8 text-center">
	<img src="images/logo.png" style="width:200px; margin-top:50px;" />
	</div>
	<div class="col-md-2 col-xs-2 col-sm-2 text-center"><a ng-click="fetchContent()" class="{{errorClass}}" ><i class="glyphicon glyphicon-refresh" style="font-size:2em; color:{{errorColor}}; margin-top:10px;"></i></a></div>
</div>

<div class="row col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center" style="position:absolute; bottom:25px;" >
<h3>{{greeting}}</h3>
<a class="btn btn-full btn-primary" ng-href="#/weekly_check_in" ng-hide="weeklyCheckInComplete">Weekly Check In</a>
<a class="btn btn-full btn-primary" ng-href="#/daily_check_in" ng-hide="dailyCheckInComplete">Daily Check In</a>
<a class="btn btn-full btn-info" ng-href="#/daily_review" ng-show="(weeklyCheckInComplete && dailyCheckInComplete)">Daily Review</a>
<a class="btn btn-full btn-info" ng-href="#/main">Main Menu</a>
</div>
</div>