<h2>Manage LocalStorage</h2>

<div class="col-md-12 col-xs-12 col-sm-12">

<textarea ng-model="localStorageContents" class="wide"></textarea><br/>

<button class="btn btn-success wide" ng-click="initiateLocalBackup()">Backup</button><br/>

<button class="btn btn-success wide" ng-click="restoreLocalBackup()">Restore</button><br/><br/>


<button class="btn btn-warning wide" ng-click="updateRemoteService()">Update Remote Service</button><br/>

<button class="btn btn-danger wide" ng-click="wipeLocalStorage()">Clear All Permanent App Data</button><br/>
</div>


