<div ng-include="'views/partials/navbar.html'"></div>
<p>
	You can use coping skills to manage early warning signs and early symptoms. &nbsp;This reduces your chances of having a full-blown &nbsp;episode of mania or depression.</p>

<p>
	You can read learn about specific coping skills here. &nbsp;Practice the skills you like for managing early warning signs and symptoms. &nbsp;</p>
<p>	There is more general information about coping skills by reading the <strong>Coping Skills</strong> module in the <strong>Foundations</strong> section.</p>
<a ng-repeat="link in mainLinks" ng-href="#/{{link.type}}/{{link.id}}/{{link.post}}" class="btn btn-info btn-full">{{link.name}}</a>