<h2>User Editor</h2>
<div class="row">
<div class="col-md-3">
<label> Select a user:
<select name="" class="form-control wide"><option>LW123</option></select>
</label>
<br/>
<button class="btn btn-primary">Add a user</button>

<h4>Content Editor</h4>
<h5>User Settings</h4>
<button class="btn btn-info btn-full">Sleep Routine Ranges</button><br/>
<button class="btn btn-info btn-full">Clinical Status <label class="label-success label">Well</label></button><br/>
<h5>Wellness Plan</h5>	
<button class="btn btn-info btn-full">Plan</button><br/>
<button class="btn btn-info btn-full">Anchors</button><br/>
<button class="btn btn-info btn-full">Reduce Risk</button><br/>
<button class="btn btn-info btn-full">Medication</button><br/>
<button class="btn btn-info btn-full">Team</button><br/>
<button class="btn btn-info btn-full">Schedule</button><br/>

<h5>Weekly Check In &gt; Early Warning Signs</h5>
<button class="btn btn-info btn-full">Mania</button><br/>
<button class="btn btn-info btn-full">Depression</button><br/>

</div>
<div class="col-md-9">
<!-- <button class="btn btn-warning">Add an anchor</button><br/><br/>
<input type="text" class="form-control" placeholder="Enter a value">
<input type="text" class="form-control" placeholder="Enter a label">
<button class="btn-primary btn">Save</button>
 -->
<select class="form-control">
	<option>Well</option>
		<option>Prodromal</option>

	<option>Recovering</option>

	<option>Unwell</option>

</select>


</div>
<div class="col-md-3"></div>
</div>